.container{
    position:relative;
    width: 850px;
    border-radius: 5px ;
    color: #ffff;  
    top: 1dvw;      
}

.container .box{
    width: 100%;
    padding: 50px;
    
}
.set{
    padding: 40px;
    background-color: rgb(43 43 57);
}

form h2{
    font-size: 36px;
    text-align: center;
}

.my-3 .Icon1{
    position: absolute;
    color: black;
    right: 65px ;
    top: 30% ;
    font-size: 22px;
    
} 
.mb-3 .Icon2{
    position: absolute;
    color: black;
    right: 65px ;
    top: 46% ;
    font-size: 22px;
        
} 
.mb-3 .Icon3{
    position: absolute;
    color: black;
    right: 65px ;
    top: 71% ;
    font-size: 22px;
    
}

 

